body {
    margin: 0;
    padding: 0;
    background: url("hands-with-basketball-ball.jpg");
    background-size: cover;
}
.container {
    text-align: center;
    width: 600px;
    margin: 200px auto 0 auto;
    border: 2px solid black;
    font-family: 'Pacifico', cursive;
    font-family: 'Pixelify Sans', cursive;
    background-color: azure;
    border: 3px solid orange;
    
    
    

}
h1 {
    font-size: 45px;
}
p{
    font-size: 30px;
}
button {
    padding: 8px 15px;
    margin-left: 8px;
    margin-left: 8px;
    font-family: 'Pixelify Sans', cursive; 
    background-color: rgb(241, 177, 58);
    border:none;
    cursor: pointer;
}
button:hover { 
    background-color: rgb(255, 203, 106) ;
    border-bottom:1px solid black;
}